@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url('./font/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: local('Gilroy-ExtraBold'),
    url('./font/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
}
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: local('Gilroy-Bold'),
    url('./font/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Gilroy-Bold'),
    url('./font/FontsFree-Net-proxima_nova_reg-webfont.ttf') format('truetype');
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}
